<div class="row g-10 mb-10 align-items-stretch">
    <div class="col-lg-4">
        <div class="card card-body text-center" style="color: #253b4c">
            <p style="font-size: 2rem" class="m-0">{{ cards?.totalPremiumAmount | compactNumber }}</p>
            <span>PRÊMIO PAGO TOTAL</span>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="card card-body text-center" style="color: #253b4c">
            <p style="font-size: 2rem" class="m-0"> {{ cards?.totalActivePoliciesInsuredAmount | compactNumber }}</p>
            <span class="">IMPORTÂNCIA SEGURADA DAS APOLICES VIGENTES</span>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="card card-body text-center" style="color: #253b4c">
            <p style="font-size: 2rem" class="m-0">{{ cards?.totalActivePolicies }}</p>
            <span class="">QUANTIDADE APÓLICES VIGENTES</span>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="h-100 d-flex flex-column">
            <div class="bg-green border-0 mb-5 py-3 rounded text-center">
                <h2 class="h4 m-0 text-white font-mont">APÓLICES</h2>
            </div>

            <div class="card card-body p-5 flex-grow-1 d-flex justify-content-center align-items-center">
                <div style="position: relative; width: 100%; height: 100%">
                    <ng-container *ngIf="hasChartData(policiesByInsuranceCompanyChartOptions); else noData">

                        <div id="policies-by-insurer-donut" *ngIf="policiesByInsuranceCompanyChartOptions">
                            <apx-chart
                                [series]="policiesByInsuranceCompanyChartOptions.series"
                                [chart]="policiesByInsuranceCompanyChartOptions.chart"
                                [labels]="policiesByInsuranceCompanyChartOptions.labels"
                                [theme]="policiesByInsuranceCompanyChartOptions.theme"
                                [responsive]="policiesByInsuranceCompanyChartOptions.responsive"
                                [legend]="policiesByInsuranceCompanyChartOptions.legend"
                            ></apx-chart>
                        </div>
                    </ng-container>
                    <ng-template #noData>
                            <p class="text-center text-muted mt-3">Sem registros</p>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="h-100 d-flex flex-column">
            <div class="bg-green border-0 mb-5 py-3 rounded text-center">
                <p class="h4 m-0 text-white font-mont">PAINEL DE CRÉDITO</p>
            </div>

            <div class="card card-body p-5 flex-grow-1 d-flex justify-content-center align-items-center">
                    <div style="position: relative; width: 100%; height: 100%">
                        <ng-container *ngIf="hasChartData(chartOptions); else noData">
                            <div id="chart" *ngIf="chartOptions " >
                                <apx-chart
                                    [series]="chartOptions.series"
                                    [chart]="chartOptions.chart"
                                    [dataLabels]="chartOptions.dataLabels"
                                    [plotOptions]="chartOptions.plotOptions"
                                    [xaxis]="chartOptions.xaxis"
                                    [stroke]="chartOptions.stroke"
                                    [fill]="chartOptions.fill"
                                    [yaxis]="chartOptions.yaxis"
                                    [title]="chartOptions.title"
                                    [tooltip]="chartOptions.tooltip"
                                    [legend]="chartOptions.legend"
                                    [responsive]="policiesByInsuranceCompanyChartOptions.responsive"

                                ></apx-chart>
                            </div>
                        </ng-container>
                        <ng-template #noData>
                            <p class="text-center text-muted mt-3">Sem registros</p>
                        </ng-template>
                </div>
                <div class="text-center mb-1">
                    <a class="btn btn-primary me-2" role="button" [routerLink]="[URLS.PATHS.CLIENT.INSURANCE_COMPANY.REGISTRATION()]"
                        >Consultar</a
                    >
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="h-100 d-flex flex-column">
            <div class="bg-green border-0 mb-5 py-3 rounded text-center">
                <h2 class="h4 m-0 text-white font-mont">PROCESSOS</h2>
            </div>

            <div class="card card-body p-5 flex-grow-1 d-flex justify-content-center align-items-center">
                <div style="position: relative; width: 100%; height: 100%">
                    <ng-container *ngIf="hasChartData(policiesByBrokerChartOptions); else noData">
                        <div id="process-status-pie" >
                            <apx-chart
                                [series]="policiesByBrokerChartOptions.series"
                                [chart]="policiesByBrokerChartOptions.chart"
                                [labels]="policiesByBrokerChartOptions.labels"
                                [theme]="policiesByBrokerChartOptions.theme"
                                [responsive]="policiesByBrokerChartOptions.responsive"
                                [legend]="policiesByBrokerChartOptions.legend"
                            ></apx-chart>
                        </div>
                    </ng-container>
                    <ng-template #noData>
                        <p class="text-center text-muted mt-3">Sem registros</p>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row g-5 gx-xl-10 mb-5 mb-xl-10">
    <div class="col">
        <div class="h-xl-100">
            <div ngbAccordion>
                <div ngbAccordionItem [collapsed]="false">
                    <button style="background-color: #253b4c" class="border-0 py-3 text-center text-white rounded" ngbAccordionButton>
                        <p class="h4 w-100 m-0 text-center text-white font-mont">STATUS DOS PROCESSOS</p>
                    </button>

                    <div ngbAccordionCollapse>
                        <div ngbAccordionBody>
                            <ng-template>
                                <div class="card card-body py-3">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-row-dashed align-middle gs-0 gy-4">
                                            <thead>
                                                <tr class="fs-7 fw-bold border-0 text-gray-500">
                                                    <th class="min-w-150px" colspan="2">Nº Processo</th>
                                                    <th class="min-w-150px text-center pe-0" colspan="2">Valor Segurado</th>
                                                    <th class="text-end min-w-150px" colspan="1">Status Processo</th>
                                                    <th class="text-end min-w-150px" colspan="3">Data de Movimentação</th>
                                                    <th class="text-end min-w-150px" colspan="2">Seguradora</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                <ng-container *ngIf="processesDashboardList?.length > 0">
                                                    <tr *ngFor="let item of processesDashboardList">
                                                        <td class="" colspan="2">
                                                            <a href="#" class="text-gray-800 text-hover-primary mb-1 fs-7"
                                                                >{{item.processNumber}}</a
                                                            >
                                                        </td>

                                                        <td class="" colspan="2">
                                                            <div class="d-flex justify-content-center">
                                                                <p class="text-gray-900 fs-7 me-3">{{formatCurrency(item.insuredValue)}}</p>
                                                            </div>
                                                        </td>

                                                        <td class="" colspan="2">
                                                            <div class="d-flex justify-content-center">
                                                                <p class="text-gray-900 fs-7 me-3">
                                                                    <app-badge-process-dashboard-status
                                                                        [status]="item.processStatus"
                                                                    ></app-badge-process-dashboard-status>
                                                                </p>
                                                            </div>
                                                        </td>

                                                        <td class="" colspan="3">
                                                            <div class="d-flex justify-content-md-start">
                                                                <p class="text-gray-900 fs-7 me-3">
                                                                      {{ item.processDischargeDate ? formatDate(item.processDischargeDate) : '-' }}
                                                                </p>
                                                            </div>
                                                        </td>

                                                        <td class="" colspan="2">
                                                            <div class="d-flex justify-content-end">
                                                                <p class="text-gray-900 fs-7 me-3">{{item.insuranceCompanyName}}</p>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </ng-container>

                                                <tr *ngIf="processesDashboardList?.length === 0">
                                                    <td colspan="10">
                                                        <p class="text-center text-muted mt-3">Sem registros</p>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <!--TODO: ADD PAGINATION-->
                                <!-- PAGINAÇÃO PADRÃO DO SISTEMA -->
                                    <app-pagination
                                        [pages]="pagination?.getTotalPagesAsArray()"
                                        [currentPage]="pagination?.getCurrentPage()"
                                        [isFirst]="pagination?.isFirstPage()"
                                        [isLast]="pagination?.isLastPage()"
                                        (pageChange)="pagination?.goToPage($event)">
                                    </app-pagination>
                                </div>
                            </ng-template>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
