<div class="badge rounded-pill fw-bold" *ngIf="status === STATUS_ENUM.AGGRAVATION_INSTRUMENT">Agravo de Instrumento</div>
<div class="badge rounded-pill fw-bold" *ngIf="status === STATUS_ENUM.EMBARGO">Embargos</div>
<div class="badge rounded-pill fw-bold" *ngIf="status === STATUS_ENUM.REVISION">Recurso revista</div>
<div class="badge rounded-pill fw-bold" *ngIf="status === STATUS_ENUM.TERMINATION_ACTION">Recurso ação rescisória</div>
<div class="badge rounded-pill fw-bold" *ngIf="status === STATUS_ENUM.EXTRAORDINARY">Recurso extraordinário</div>
<div class="badge rounded-pill fw-bold" *ngIf="status === STATUS_ENUM.ORDINARY">Recurso ordinário</div>
