<div class="modal-header">
    <h4 class="modal-title">Criar planilha</h4>
    <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="cancel()">
    </button>
</div>

<form (ngSubmit)="submit()">
    <div class="modal-body">
        <div class="mb-3">
            <app-select-single-choice
                #selectClient
                label="Cliente"
                [required]="true"
                [options]="clients"
            ></app-select-single-choice>
        </div>

        <div class="mb-3">
            <app-select-single-choice
                #selectService
                label="Serviço"
                [required]="true"
                [options]="services"
            ></app-select-single-choice>
        </div>


        <div class="mb-3">
            <label class="form-label">Arquivo da planilha</label>
            <input
                type="file"
                class="form-control"
                accept=".csv,.xlsx"
                (change)="onFileChange($event)"
            />
            <small *ngIf="file" class="text-muted">{{ file.name }}</small>
            <p class="text-gray-600"> *A planilha não deve conter colunas com nomes duplicados</p>
        </div>

    </div>

    <div class="modal-footer">
        <button
            type="button"
            class="btn btn-light"
            (click)="cancel()">
            Cancelar
        </button>

        <button
            type="submit"
            class="btn btn-primary"
            [disabled]="!isFormValid()">
            Criar planilha
        </button>
    </div>
</form>
