.form-group {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-control ~ .form-control-icon {
    top: 0.37rem;
}

.autocomplete-suggestions {
    top: calc(100%);
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    max-height: 200px;
    overflow-y: scroll;
    cursor: pointer;
    // left: 0;
    // right: 0;
    position: absolute;
    z-index: 9;
    width: 100%;

    li {
        &:hover {
            background-color: #ededed;
        }
    }
}
