<div class="row" *ngIf="(pages?.length ?? 0) > 1">
  <div class="col-sm-12 col-md-5 d-flex align-items-center justify-content-center justify-content-md-start dt-toolbar"></div>

  <div class="col-sm-12 col-md-7 d-flex align-items-center justify-content-center justify-content-md-end">
    <div class="dt-paging paging_simple_numbers">
      <nav>
        <ul class="pagination">
          <!-- before -->
          <li class="dt-paging-button page-item" [class.disabled]="isFirst">
            <button class="page-link previous" role="link" type="button" (click)="prev()">
              <i class="previous"></i>
            </button>
          </li>

          <!-- pages -->
          <li class="dt-paging-button page-item"
              *ngFor="let p of pages"
              [ngClass]="{ active: p === currentPage }">
            <button class="page-link" role="link" type="button" (click)="goTo(p)">
              {{ p }}
            </button>
          </li>

          <!-- next -->
          <li class="dt-paging-button page-item" [class.disabled]="isLast">
            <button class="page-link next" role="link" type="button" (click)="next()">
              <i class="next"></i>
            </button>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
