<section class="section">
    <form class="form" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-12">
                <div class="card card-flush mb-5 mb-xl-10">
                    <div class="card-header">
                        <h2 class="card-title">Dados da Empresa</h2>
                    </div>
                    <div class="card-body pt-0">
                        <div class="row">
                            <div class="col-md-6 col-12 mb-6">
                                <app-input-text
                                    #inputCnpj
                                    label="CNPJ"
                                    type="tel"
                                    placeholder="12.456.789/0001-00"
                                    [mask]="CNPJ_MASK"
                                    [validators]="[cnpjValidator]"
                                    [required]="true"
                                    [readOnly]="!isFormInEditableState(formState)"
                                ></app-input-text>
                            </div>
                            <div class="col-md-6 col-12 mb-6">
                                <app-input-text
                                    #inputCompanyName
                                    label="Nome da empresa"
                                    placeholder="Wayne Enterprises Inc."
                                    [required]="true"
                                    [readOnly]="!isFormInEditableState(formState)"
                                ></app-input-text>
                            </div>
                            <div class="col-md-4 col-12 mb-6">
                                <app-input-autocomplete-googlemaps
                                    #inputCepAutocomplete
                                    label="CEP"
                                    placeholder="Digite o CEP"
                                    [mask]="CEP_MASK"
                                    [onlyCepAutocomplete]="true"
                                >
                                </app-input-autocomplete-googlemaps>
                            </div>

                            <div class="col-md-6 col-12 mb-6">
                                <app-input-text #inputStreet placeholder="Av. Principal" label="Rua"></app-input-text>
                            </div>
                            <div class="col-md-2 col-12 mb-6">
                                <app-input-text #inputNumber label="Número" placeholder="1298"> </app-input-text>
                            </div>
                            <div class="col-md-4 col-12 mb-6">
                                <app-input-text #inputNeighborhood label="Bairro" placeholder="Bristol"> </app-input-text>
                            </div>
                            <div class="col-md-6 col-12 mb-6">
                                <app-input-text #inputCity label="Cidade" placeholder="Gotham"> </app-input-text>
                            </div>
                            <div class="col-md-2 col-12 mb-6">
                                <app-input-text #inputState label="Estado" placeholder="UF"> </app-input-text>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card card-flush mb-5 mb-xl-10">
                    <div class="card-header">
                        <h2 class="card-title">Dados do contato</h2>
                    </div>
                    <div class="card-body pt-0">
                        <div class="row">
                            <div class="col-12 mb-6">
                                <app-input-text
                                    #inputContactName
                                    label="Nome do contato"
                                    placeholder="Bruce Wayne"
                                    [modifier]="nameInputTextModifier"
                                    [readOnly]="!isFormInEditableState(formState)"
                                ></app-input-text>
                            </div>

                            <div class="col-md-6 col-12 mb-6">
                                <app-input-text
                                    #inputContactPhone
                                    label="Telefone"
                                    type="tel"
                                    placeholder="(11) 99999-9999"
                                    [mask]="PHONE_MASK"
                                    [readOnly]="!isFormInEditableState(formState)"
                                ></app-input-text>
                            </div>
                            <div class="col-md-6 col-12 mb-6">
                                <app-input-text
                                    #inputContactEmail
                                    label="Email"
                                    placeholder="bruce@wayne-enterprises.com"
                                    [modifier]="lowerCaseInputTextModifier"
                                    [validators]="[emailInputTextValidator]"
                                    [readOnly]="!isFormInEditableState(formState)"
                                ></app-input-text>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="d-flex justify-content-end">
                    <button
                        type="button"
                        class="btn btn-light btn-active-light-primary me-5"
                        [disabled]="!isFormInEditableState(formState)"
                        [routerLink]="[URLS.PATHS.ADMIN.CLIENT.ROOT()]"
                    >
                        Cancelar
                    </button>
                    <app-button
                        classes="btn-primary w-100"
                        text="Salvar"
                        [isLoading]="isFormInLoadingState(formState)"
                        [loadingText]="'Processando...'"
                        [isSubmitted]="isFormInSuccessState(formState)"
                        [submittedText]="'Concluído!'"
                    ></app-button>
                </div>
            </div>
        </div>
    </form>
</section>
