<div class="app-toolbar">
    <div class="app-container d-flex align-items-start">
        <div class="d-flex flex-column flex-row-fluid">
            <div class="d-flex align-items-center pt-5">
                <ul class="breadcrumb breadcrumb-separatorless fw-semibold">
                    <li class="breadcrumb-item text-white fw-bold lh-1">
                        <a [routerLink]="[URLS.PATHS.ADMIN.DASHBOARD()]" class="text-white hover-scale">
                            <i class="fa-solid fa-house fs-3 text-white me-1"></i>
                        </a>
                    </li>

                    <div class="d-flex flex-row" *ngFor="let route of breadcrumbs; last as last">
                        <li class="breadcrumb-item">
                            <i class="fa-solid fa-chevron-right fs-7 text-white mx-2"></i>
                        </li>

                        <li class="breadcrumb-item text-white fw-bold lh-1">{{ route.breadcrumbName }}</li>
                    </div>

                    <!-- <li class="breadcrumb-item">
                        <i class="fa-solid fa-chevron-right fs-7 text-white mx-2"></i>
                    </li> -->

                    <!-- <li class="breadcrumb-item text-white fw-bold lh-1">Cadastrar</li> -->
                </ul>
            </div>

            <div
                class="d-flex flex-column flex-lg-row gap-4 gap-lg-10 pt-6 pb-18 py-lg-13 justify-content-between align-items-start">
                <div class="d-flex align-items-end me-3 ms-auto gap-4">
                    <button class="btn-yellow py-5" [routerLink]="[URLS.PATHS.CLIENT.INSURANCE_COMPANY.REGISTRATION()]"
                            *ngIf="shouldShowCotationButton()">
                        <span class="fs-4">NOVA COTAÇÃO</span>
                    </button>
                </div>


            </div>
        </div>
    </div>
</div>
