<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Adição rápida de Cliente</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>

<form class="form" (ngSubmit)="onSubmit()">
    <div class="modal-body">
        <div class="mb-3">
            <div class="card-body pt-0">
                <div class="row">
                    <div class="col-md-6 col-12 mb-6">
                        <app-input-text
                            #inputCnpj
                            label="CNPJ"
                            type="tel"
                            placeholder="12.456.789/0001-00"
                            [mask]="CNPJ_MASK"
                            [validators]="[cnpjValidator]"
                            [required]="true"
                            [readOnly]="!isFormInEditableState(formState)"
                        ></app-input-text>
                    </div>
                    <div class="col-md-6 col-12 mb-6">
                        <app-input-text
                            #inputCompanyName
                            label="Nome da empresa"
                            placeholder="Wayne Enterprises Inc."
                            [required]="true"
                            [readOnly]="!isFormInEditableState(formState)"
                        ></app-input-text>
                    </div>

                    <div class="col-md-4 col-12 mb-6">
                        <app-input-autocomplete-googlemaps
                            #inputCepAutocomplete
                            label="CEP"
                            placeholder="Digite o CEP"
                            [mask]="CEP_MASK"
                            [onlyCepAutocomplete]="true"
                        >
                        </app-input-autocomplete-googlemaps>
                    </div>
                    <div class="col-md-6 col-12 mb-6">
                        <app-input-text #inputStreet placeholder="Av. Principal" label="Rua"></app-input-text>
                    </div>

                    <div class="col-md-4 col-12 mb-6">
                        <app-input-text #inputNeighborhood label="Bairro" placeholder="Bristol"> </app-input-text>
                    </div>
                    <div class="col-md-6 col-12 mb-6">
                        <app-input-text #inputCity label="Cidade" placeholder="Gotham"> </app-input-text>
                    </div>
                    <div class="col-md-2 col-12 mb-6">
                        <app-input-text #inputState label="Estado" placeholder="UF"> </app-input-text>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <app-button
            classes="btn-primary w-100"
            text="Salvar"
            [isLoading]="isFormInLoadingState()"
            [loadingText]="'Processando...'"
            [isSubmitted]="isFormInSuccessState()"
            [submittedText]="'Concluído!'"
        ></app-button>
    </div>
</form>
