<div class="modal-header">
    <h4 class="modal-title">Excluir Coluna</h4>
    <button type="button" class="btn-close" (click)="cancel()"></button>
</div>
<form (ngSubmit)="onSubmit()">
    <div class="modal-body">
        <div class="mb-3">
            <label class="form-label">Nome da Coluna</label>
            <app-select-single-choice
                #selectColumnToDelete
                [required]="true"
                [options]="columnsToDelete"
            >
            </app-select-single-choice>
        </div>
        <div class="alert alert-warning">
            <strong>Aviso:</strong> Esta ação não pode ser desfeita. Todos os dados nesta coluna serão permanentemente deletados.
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="cancel()">
            Cancelar
        </button>

        <button type="submit" class="btn btn-danger">
            Excluir Coluna
        </button>
    </div>
</form>
