
<div class="modal-header">
  <h4 class="modal-title">Detalhes do Registro</h4>
  <button
    type="button"
    class="btn-close"
    (click)="activeModal.dismiss()">
  </button>
</div>

<div class="modal-body" style="max-height: 70vh; overflow-y: auto;">
  <div
    *ngFor="let item of entries"
    class="d-flex justify-content-between flex-wrap py-3" style="gap: 6px;"
  >
    <strong class="text-muted me-2" 
    style="
      width: 260px;
      min-width: 260px;
      word-break: break-word;
    ">
      {{ item[0]+":" }}
    </strong>

    <span style="
      flex: 1;
      word-break: break-word;
    ">
      {{ item[1] }}
    </span>
  </div>
</div>

<div class="modal-footer">
  <button class="btn btn-light-primary" (click)="activeModal.dismiss()">
    Fechar
  </button>
</div>
