@import "../node_modules/@fortawesome/fontawesome-free/css/all.css";

$bootstrap-icons-font-src: url("../node_modules/bootstrap-icons/font/fonts/bootstrap-icons.woff2") format("woff") !default;
@import "../node_modules/bootstrap-icons/font/bootstrap-icons";

/* Importing Axel Theme */
@import "assets/scss/axel-theme/style";

@import "ngx-toastr/toastr";

@import "filepond/dist/filepond.min.css"; // "../node_modules/filepond/dist/filepond.min.css"
.filepond--root {
    margin-bottom: 0px;
}
