<div class="sidebar" [class.collapsed]="isSidebarCollapsed" (mouseenter)="expandSidebar()" (mouseleave)="collapseSidebar()">
    <nav class="menu">
        <ng-container *ngIf="userInfo && userInfo.role === USER_ROLE.ADMIN">
            <a [routerLink]="[URLS.PATHS.ADMIN.DASHBOARD()]" routerLinkActive="active" class="menu-item mt-10">
                <i class="fa-solid fa-users fa-lg"></i>
                <span class="label" *ngIf="!isSidebarCollapsed">Usuários</span>
            </a>
            <a [routerLink]="[URLS.PATHS.ADMIN.POLICY.ROOT()]" routerLinkActive="active" class="menu-item mt-3">
                <i class="fa-solid fa-file-shield fa-lg"></i>
                <span class="label" *ngIf="!isSidebarCollapsed">Times</span>
            </a>
            <a [routerLink]="[URLS.PATHS.ADMIN.CLIENT.ROOT()]" routerLinkActive="active" class="menu-item mt-3">
                <i class="fa-solid fa-file-invoice fa-lg"></i>
                <span class="label" *ngIf="!isSidebarCollapsed">Gestao planilhas</span>
            </a>

        </ng-container>

        <ng-container *ngIf="userInfo && userInfo.role === USER_ROLE.CLIENT">
            <a [routerLink]="[URLS.PATHS.CLIENT.DASHBOARD()]" routerLinkActive="active" class="menu-item mt-10">
                <i class="fa-solid fa-chart-line fa-lg"></i>
                <span class="label" *ngIf="!isSidebarCollapsed">Dashboard</span>
            </a>

            <a [routerLink]="[URLS.PATHS.CLIENT.QUOTATIONS.ROOT()]" routerLinkActive="active" class="menu-item mt-3">
                <i class="fa-solid fa-money-check-alt fa-lg"></i>
                <span class="label" *ngIf="!isSidebarCollapsed">Cotações</span>
            </a>

            <a [routerLink]="[URLS.PATHS.CLIENT.POLICY.ROOT()]" routerLinkActive="active" class="menu-item mt-3">
                <i class="fa-solid fa-file-shield fa-lg"></i>
                <span class="label" *ngIf="!isSidebarCollapsed">Apólices</span>
            </a>

            <a [routerLink]="[URLS.PATHS.CLIENT.AGENDA.ROOT()]" routerLinkActive="active" class="menu-item mt-3">
                <i class="fa-solid fa-calendar-days fa-lg"></i>
                <span class="label" *ngIf="!isSidebarCollapsed">Agenda</span>
            </a>
            <!--

            <a class="menu-item">
                <i class="fa-solid fa-dollar-sign fa-lg"></i>
                <span class="label" *ngIf="!isSidebarCollapsed">Finanças</span>
            </a>
        -->
        </ng-container>
    </nav>
</div>
